title DL_POLY: Silver Iodide Test Case

io_file_config        CONFIG
io_file_field         FIELD
io_file_statis        STATIS
io_file_revive        REVIVE
io_file_revcon        REVCON
io_file_tabvdw        TABLE
temperature           700.0 K
print_frequency       10 steps
stats_frequency       10 steps
rdf_print             ON
rdf_calculate         ON
rdf_frequency         10 steps
vdw_cutoff            8.0 ang
padding               0.25 ang
cutoff                8.0 ang
coul_method           spme
spme_precision        1e-06
ensemble              nve
time_run              2000 steps
time_equilibration    500 steps
time_job              3600.0 s
time_close            100.0 s
timestep              0.001 ps
pressure_hydrostatic  0.0 katm
rescale_frequency     10 steps