DL_POLY: Silver Iodide Test Case

no strict
delr               1.0

temperature      700.0
pressure           0.0
steps             2000
equilibration      500  
scale               10
timestep         0.005
multiple             1
print               10
stats               10
cutoff             8.0
rvdw               8.0
rdf                 10
print rdf
ewald precision  1.e-6
ensemble nve
job time          3600
close time         100
finish

